<div class="homebox">
	<div class="homeintro">
		<span class="headerfont">it’s A spaceship</span> is where I experiment with concepts, test ideas, build businesses, create websites and do cultural projects.
	</div>




</div>