
.spaceship-image {width: 50%; margin: 10px 25%;}
.spaceship-signup {width: 50%; margin: 10px 25%;}
.spaceship-box {width: 50%; margin: 25px 25%; text-align: center; font-size: 18px; line-height: 20px; font-family: "helveltica",sans-serif; color: #3498db;}

@media screen and (max-width: 640px){

	.spaceship-image {width: 50%; margin: 10px 25%;}
	.spaceship-signup {width: 90%; margin: 10px 5%;}
	.spaceship-box {width: 90%; margin: 25px 5%; text-align: center; font-size: 16px; line-height: 18px; font-family: "helveltica",sans-serif; color: #3498db;}

}