<nav class="topbar">
      <%= link_to root_path do %>
            <div class="titleheader">

                <%= image_tag 'itsaspaceship.png', :class => "logo-head2" %>
            </div>
      <% end %>

</nav>

<div id="menu-icon">
    <i class="fa fa-bomb"></i>
</div>

<div class="overlay nodisplay"></div>

<div class="rightmenu">
  <ul>
    <li>
      <%= link_to root_path do %>
      <%= image_tag 'itsaspaceship-blue.png', :class => "logo-menu" %>
      <% end %>

    </li>
    <li>CC Evans</li>
    <li>cc@ccevans.com</li>

    <li>

    </li>
  </ul>



  </div>


<script>
  $('#menu-icon').click(function(){
    $('.rightmenu').addClass('revealed');
    $('.overlay').removeClass('nodisplay');
    $('body').addClass("noscroll");
  });
  $('.overlay').click(function(){
    $('.rightmenu').removeClass('revealed');
    $('.overlay').addClass('nodisplay');
    $('body').removeClass("noscroll");
  });
</script>